Automatidata_project_lab.ipynb
.conda/
Project_7_Salifort/Activity-Exemplar_-Course-7-PACE-strategy-document.docx
Project_7_Salifort/Activity-Exemplar_-Course-7-executive-summary.pptx
Project_7_Salifort/HR_capstone_dataset.csv
Project_7_Salifort/Activity-Template_-Course-7-PACE-strategy-document.docx
Project_7_Salifort/Activity-Templates_-Executive-summaries.pptx
Project_6_NYC_Taxi/.gitignore/
Project_6_NYC_Taxi/2017_Yellow_Taxi_Trip_Data.csv
Project_6_NYC_Taxi/nyc_preds_means.csv