Automatidata_project_lab.ipynb
.conda/
nyc_preds_means.csv
Project_7_Salifort/Activity-Exemplar_-Course-7-PACE-strategy-document.docx
Project_7_Salifort/Activity-Exemplar_-Course-7-executive-summary.pptx
Project_6_NYC_Taxi/.gitignore/